

<table class="table">
	<tr><%= attachment_image_tag(user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %></tr>

	<tr>
		<th>name</th>
		<th><%= user.name %></th>
	</tr>

	<tr>
		<th>introduction</th>
		<th><%= user.introduction %></th>
	</tr>

	<tr>
	  <th>follows</th>
		<th><%= link_to user.follower.count, follower_path(user) %></th>
	</tr>

	<tr>
	  <th>followers</th>
		<th><%= link_to user.followed.count, followed_path(user) %></th>
	</tr>
</table>

<% unless user == current_user %>
	<% if current_user.following?(user) %>
		<td><%= link_to "フォロー外す", unfollow_path(user.id), method: :post, class:"btn btn-primary active" %></td>
	<% elsif %>
		 <td><%= link_to "フォローする", follow_path(user.id), method: :post, class:"btn btn-success active" %></td>
	<% end %>
<% end %>

<div class="row">
  <% if user == current_user %>
	<%= link_to '', edit_user_path(user), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_#{user.id}" %>
	<% end %>
</div>

<h1>ユーザー詳細</h1>

<h2><%= user.email %></h2>

<% if user.id == current_user.id %> <!--もしユーザーが同じなら-->

<% else %> <!--そうでなく異なれば-->
  <% if @isRoom == true %> <!--もしチャットボタンがあれば-->
    <p><a href="/rooms/<%= @roomId %>">chatを始める</a>
  <% else %> <!--そうでなくまだチャットがなければ-->
    <%= form_for @room do |f| %> <!--@roomをコントローラにパラメータを送る-->
      <%= fields_for @entry do |e| %> <!--子モデルの@entryをコントローラにパラメータを送る-->
        <%= e.hidden_field :user_id, :value=> user.id %> <!--ユーザのidもフォームで入力させず送る-->
      <% end %>
      <%= f.submit "チャットを始める" %> <!--これでroomsテーブルに保存される-->
    <% end %>
  <% end %>
<% end %>